<mat-sidenav-container class="admin-layout">
  <mat-sidenav #sidenav mode="side" [opened]="sidenavOpen()" class="admin-layout__sidenav">
    <div class="admin-layout__sidenav-header">
      <h2>StartupStarter</h2>
    </div>
    <mat-nav-list>
      @for (item of filteredNavItems(); track item.route) {
        <a mat-list-item [routerLink]="item.route" routerLinkActive="active">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="admin-layout__content">
    <mat-toolbar color="primary" class="admin-layout__toolbar">
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="admin-layout__toolbar-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <div class="admin-layout__user-menu-header">
          <strong>{{ user()?.firstName }} {{ user()?.lastName }}</strong>
          <small>{{ user()?.email }}</small>
        </div>
        <mat-divider></mat-divider>
        <a mat-menu-item routerLink="/settings">
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </a>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>

    <main class="admin-layout__main">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
